{% load static %}


<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Compra</title>
    <link rel="stylesheet" href="{% static 'compra.css' %}">
</head>

<body>
    <header>
        <div class="header-grid">
            <h1>Sistema de Compra</h1> <!-- Título principal -->
            <div class="header-item">Fecha/fecha/fecha</div>
            <div class="header-item">Perfil</div>
            <div class="header-item"><a href="#">LogOut</a></div> <!-- Agrega el enlace -->
        </div>
    </header>

    <main>
        <div class="main-grid">
            <!-- Sección izquierda: Botones -->
            <section class="button-section">
                <h2>Selecciona un tipo de documento</h2>
                <div class="button-container">
                    <button class="btn-factura">Factura</button>
                    <button class="btn-boleta">Boleta</button>
                </div>
            </section>
            

            <!-- Sección derecha: Resumen de la orden -->
            <section class="order-summary">
                <h3>Resumen de la orden</h3>
                <p>Productos (#)</p>
                <p>Total</p>
                <button class="btn-continue-purchase">Continuar compra</button>
            </section>
        </div>
    </main>
</body>

</html>
