{% load static %}

<!DOCTYPE html>
<html lang="en">
<!-- 
    Angie Alvarez Code
  -->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bodega Heridage Dior</title>

  

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="{% static "estilos.css" %}">
  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Open+Sans&display=swap"
    rel="stylesheet">
</head>

<body>

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <div class="overlay" data-overlay></div>

      <a href="#" class="logo">
        <img src="{% static 'logo.svg' %}" alt="Ridex logo">
      </a>

      <nav class="navbar" data-navbar>
        <ul class="navbar-list">

          <li>
            <a href="#home" class="navbar-link" data-nav-link>Bodega</a>
          </li>

          <li>
            <a href="#blog" class="navbar-link" data-nav-link>Categorias</a>
          </li>
          

          <li>
            <a href="#featured-car" class="navbar-link" data-nav-link>Explorar Sucursales</a>
          </li>

          <li>
            <a href="nuevacompra.html" class="navbar-link" data-nav-link>Tabla de Compras</a>
          </li>

          <li>
            <a href="productos.html" class="navbar-link" data-nav-link>Productos</a>
          </li>

          <li>
            <a href="index.html" class="navbar-link" data-nav-link>Mis compras</a>
          </li>
          

        </ul>
      </nav>

      <div class="header-actions">

        

        <a href="carritoDeCompras.html" class="btn" aria-labelledby="aria-label-txt">
          <ion-icon name="car-outline"></ion-icon>

          <span id="aria-label-txt">Carrito de Compras</span>
          
        </a>

        <a href="login.html" class="btn user-btn" aria-label="Profile">
          <ion-icon name="person-outline"></ion-icon>
        </a>

        <button class="nav-toggle-btn" data-nav-toggle-btn aria-label="Toggle Menu">
          <span class="one"></span>
          <span class="two"></span>
          <span class="three"></span>
        </button>

      </div>

    </div>
  </header>





  <main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="section hero" id="home">
        <div class="container">

          <div class="hero-content">
            <h2 class="h1 hero-title">Bodega Héritage d'Or</h2>

            <p class="hero-text">
              ¡Bienvenido a DOR! Explora nuestra selección de vinos de calidad.
            </p>
          </div>

          <div class="hero-banner"></div>

          <form action="" class="hero-form">

            <div class="input-wrapper">
              <label for="input-1" class="input-label">Sucursal</label>

              <input type="text" name="car-model" id="input-1" class="input-field"
                placeholder="Busque su sucursal">
            </div>

            <div class="input-wrapper">
              <label for="input-2" class="input-label">Categoria</label>

              <input type="text" name="monthly-pay" id="input-2" class="input-field" placeholder="Seleccione su Categoria">
            </div>

            <div class="input-wrapper">
              <label for="input-3" class="input-label">Vino</label>

              <input type="text" name="year" id="input-3" class="input-field" placeholder="Seleccione su producto">
            </div>

            
            

            <button type="submit" class="btn" onclick="href='productos.html'">Buscar</button>

            

          </form>

        </div>
      </section>





      <!-- 
        - #FEATURED CARF
      -->

      <section class="section featured-car" id="featured-car">
        <div class="container">

          <div class="title-wrapper">
            <h2 class="h2 section-title">Sucursales</h2>

            <a href="#" class="featured-car-link">
              <span>Ver mas</span>

              <ion-icon name="arrow-forward-outline"></ion-icon>
            </a>
          </div>

          <ul class="featured-car-list">

            <li>
              <div class="featured-car-card">

                <figure class="card-banner">
                  <img src="{% static 'JLBYR.jpg' %}" alt="JLBYR" loading="lazy" width="440" height="300"
                    class="w-100">
                </figure>

                <div class="card-content">

                  <div class="card-title-wrapper">
                    <h3 class="h3 card-title">
                      <a href="#">JLByR</a>
                    </h3>

                    <data class="year" value="2021">OPEN</data>
                  </div>

                  <ul class="card-list">

                    <li class="card-list-item">
                      <ion-icon name="people-outline"></ion-icon>

                      <span class="card-item-text">Av.EEUU 543</span>
                    </li>

                    <li class="card-list-item">
                      <ion-icon name="flash-outline"></ion-icon>

                      <span class="card-item-text">de 7am a 7 pm</span>
                    </li>

                    <li class="card-list-item">
                      <ion-icon name="speedometer-outline"></ion-icon>

                      <span class="card-item-text">951838123</span>
                    </li>

                    <li class="card-list-item">
                      <ion-icon name="hardware-chip-outline"></ion-icon>

                      <span class="card-item-text"> 3 Estrellas</span>
                    </li>

                  </ul>

                  <div class="card-price-wrapper">

                    <p class="card-price">
                      <strong>OFERTA hasta 20%</strong> 
                    </p>

                    <button class="btn fav-btn" aria-label="Add to favourite list">
                      <ion-icon name="heart-outline"></ion-icon>
                    </button>

                    
                    <button class="btn"><a href="sucursal1.html">VER</a></button>


                  </div>

                </div>

              </div>
            </li>

            <li>
              <div class="featured-car-card">

                <figure class="card-banner">
                  <img src="{% static 'Yanahuara.jpg' %}" alt="Yanahuara" loading="lazy" width="440" height="300"
                    class="w-100">
                </figure>

                <div class="card-content">

                  <div class="card-title-wrapper">
                    <h3 class="h3 card-title">
                      <a href="#">Yanahuara</a>
                    </h3>

                    <data class="year" value="2019">OPEN</data>
                  </div>

                  <ul class="card-list">

                    <li class="card-list-item">
                      <ion-icon name="people-outline"></ion-icon>

                      <span class="card-item-text">Av Colombia 231</span>
                    </li>

                    <li class="card-list-item">
                      <ion-icon name="flash-outline"></ion-icon>

                      <span class="card-item-text">de 7am a 7 pm</span>
                    </li>

                    <li class="card-list-item">
                      <ion-icon name="speedometer-outline"></ion-icon>

                      <span class="card-item-text">951826738</span>
                    </li>

                    <li class="card-list-item">
                      <ion-icon name="hardware-chip-outline"></ion-icon>

                      <span class="card-item-text">4 Estrellas</span>
                    </li>

                  </ul>

                  <div class="card-price-wrapper">

                    <p class="card-price">
                      <strong>OFERTA hasta 15%</strong>
                    </p>

                    <button class="btn fav-btn" aria-label="Add to favourite list">
                      <ion-icon name="heart-outline"></ion-icon>
                    </button>

                    
                    <button class="btn"><a href="estacionamiento2.html">VER</a></button>

                  </div>

                </div>

              </div>
            </li>

            <li>
              <div class="featured-car-card">

                <figure class="card-banner">
                  <img src="{% static 'Cayma.jpg' %}" alt="Cayma" loading="lazy" width="440"
                    height="300" class="w-100">
                </figure>

                <div class="card-content">

                  <div class="card-title-wrapper">
                    <h3 class="h3 card-title">
                      <a href="#">Cayma</a>
                    </h3>

                    <data class="year" value="2020">OPEN</data>
                  </div>

                  <ul class="card-list">

                    <li class="card-list-item">
                      <ion-icon name="people-outline"></ion-icon>

                      <span class="card-item-text">Av Jose 321</span>
                    </li>

                    <li class="card-list-item">
                      <ion-icon name="flash-outline"></ion-icon>

                      <span class="card-item-text">7 am a 7 pm</span>
                    </li>

                    <li class="card-list-item">
                      <ion-icon name="speedometer-outline"></ion-icon>

                      <span class="card-item-text">+945134723</span>
                    </li>

                    <li class="card-list-item">
                      <ion-icon name="hardware-chip-outline"></ion-icon>

                      <span class="card-item-text">4 Estrellas</span>
                    </li>

                  </ul>

                  <div class="card-price-wrapper">

                    <p class="card-price">
                      <strong>OFERTA hasta 10% </strong> 
                    </p>

                    <button class="btn fav-btn" aria-label="Add to favourite list">
                      <ion-icon name="heart-outline"></ion-icon>
                    </button>

                    
                    <button class="btn"><a href="estacionamiento3.html">VER</a></button>

                  </div>

                </div>

              </div>
            </li>

            
              </div>
            </li>

           

               

                   

                    
                    

                </div>

              </div>
            </li>

            
                

                  </div>

                </div>

              </div>
            </li>

          </ul>

        </div>
      </section>





      <!-- 
        - #GET START
      -->

      <section class="section get-start">
        <div class="container">

          <h2 class="h2 section-title">Resenias</h2>

          <ul class="get-start-list">

            <li>
              <div class="get-start-card">

                <div class="card-icon icon-1">
                  <ion-icon name="person-add-outline"></ion-icon>
                </div>

                <h3 class="card-title">Experiencia única enológica</h3>

                <p class="card-text">
                  Probé algunos de los vinos de esta bodega y quedé impresionado. Cada sorbo es una experiencia única y deliciosa. ¡Altamente recomendado!
                </p>

                <a href="#" class="card-link">IR A COMPRAR</a>

              </div>
            </li>

            <li>
              <div class="get-start-card">

                <div class="card-icon icon-2">
                  <ion-icon name="car-outline"></ion-icon>
                </div>

                <h3 class="card-title">Increíble atención al cliente</h3>

                <p class="card-text">
                  El equipo de esta bodega es amable, acogedor y está lleno de conocimientos sobre vinos. Hicieron que mi visita fuera memorable. ¡Volveré pronto!
                </p>

              </div>
            </li>

            <li>
              <div class="get-start-card">

                <a href="#" class="btn user-btn" aria-label="Profile">
                  <ion-icon name="person-outline"></ion-icon>
              </a>
              
                

                <h3 class="card-title">Vinos de primera calidad</h3>

                <p class="card-text">
                  Los vinos de esta bodega son excepcionales. Cada botella cuenta una historia única y refleja el verdadero arte de la vinificación. 
                </p>

              </div>
            </li>

            <li>
              <div class="get-start-card">

                <div class="card-icon icon-4">
                  <ion-icon name="card-outline"></ion-icon>
                </div>

                <h3 class="card-title">Una joya escondida </h3>

                <p class="card-text">
                    Descubrí esta bodega y me sorprendió gratamente. Sus vinos son verdaderas obras maestras. ¡Una visita obligada para cualquier amante del vino
                </p>

              </div>
            </li>

          </ul>

        </div>
      </section>





      <!-- 
        - #BLOG
      -->

      <section class="section blog" id="blog">
        <div class="container">

          <h2 class="h2 section-title">Categorias de Vinos</h2>

          <ul class="blog-list has-scrollbar">

            <li>
              <div class="blog-card">

                <figure class="card-banner">

                  <a href="#">
                    <img src="{%static 'tintos.jpg' %}" alt="Opening of new offices of the company" loading="lazy"
                      class="w-100">
                  </a>

                  <a href="#" class="btn card-badge">VER</a>

                </figure>

                <div class="card-content">

                  <h3 class="h3 card-title">
                    <a href="#">Tintos</a>
                  </h3>

                  <div class="card-meta">

                    <div class="publish-date">
                      <ion-icon name="time-outline"></ion-icon>

                      <time datetime="2022-01-14">Los vinos tintos son una variedad deliciosa con sabores que van desde frutales hasta terrosos, perfectos para maridar con carnes rojas y quesos maduros.</time>
                    </div>

                    <div class="comments">
                      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>

                      <data value="114">114</data>
                    </div>

                  </div>

                </div>

              </div>
            </li>

            <li>
              <div class="blog-card">

                <figure class="card-banner">

                  <a href="#">
                    <img src="{% static 'blancos.jpg' %}" alt="What cars are most vulnerable" loading="lazy"
                      class="w-100">
                  </a>

                  <a href="#" class="btn card-badge">VER</a>

                </figure>

                <div class="card-content">

                  <h3 class="h3 card-title">
                    <a href="#">Blancos </a>
                  </h3>

                  <div class="card-meta">

                    <div class="publish-date">
                      <ion-icon name="time-outline"></ion-icon>

                      <time datetime="2022-01-14">Los vinos blancos son frescos y versátiles, ofreciendo una amplia gama de sabores que van desde cítricos y florales hasta tropicales, ideales para acompañar pescados, mariscos y platos ligero</time>
                    </div>

                    <div class="comments">
                      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>

                      <data value="114">114</data>
                    </div>

                  </div>

                </div>

              </div>
            </li>

            <li>
              <div class="blog-card">

                <figure class="card-banner">

                  <a href="#">
                    <img src="{% static 'Rosados.jpg' %}" alt="Statistics showed which average age" loading="lazy"
                      class="w-100">
                  </a>

                  <a href="#" class="btn card-badge">VER</a>

                </figure>

                <div class="card-content">

                  <h3 class="h3 card-title">
                    <a href="#">Rosados</a>
                  </h3>

                  <div class="card-meta">

                    <div class="publish-date">
                      <ion-icon name="time-outline"></ion-icon>

                      <time datetime="2022-01-14">Su sabor suave y agradable tiene beneficios para la salud, ya que contiene antioxidantes</time>
                    </div>

                    <div class="comments">
                      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>

                      <data value="114">114</data>
                    </div>

                  </div>

                </div>

              </div>
            </li>

            <li>
              <div class="blog-card">

                <figure class="card-banner">

                  <a href="#">
                    <img src="{% static 'Espumosos.jpg' %}" alt="What´s required when renting a car?" loading="lazy"
                      class="w-100">
                  </a>

                  <a href="#" class="btn card-badge">VER</a>

                </figure>

                <div class="card-content">

                  <h3 class="h3 card-title">
                    <a href="#">Espumosos</a>
                  </h3>

                  <div class="card-meta">

                    <div class="publish-date">
                      <ion-icon name="time-outline"></ion-icon>

                      <time datetime="2022-01-14">Combina perfectamente con aperitivos como los canapés, los beignet salados, los volovanes, los patés y los cócteles de gambas, pero también con las ostras y las crudités</time>
                    </div>

                    <div class="comments">
                      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>

                      <data value="114">114</data>
                    </div>

                  </div>

                </div>

              </div>
            </li>

            <li>
              <div class="blog-card">

                <figure class="card-banner">

                  <a href="#">
                    <img src="{% static 'Diario.jpg' %}" alt="New rules for handling our cars" loading="lazy"
                      class="w-100">
                  </a>

                  <a href="#" class="btn card-badge">VER</a>

                </figure>

                <div class="card-content">

                  <h3 class="h3 card-title">
                    <a href="#">Diarios</a>
                  </h3>

                  <div class="card-meta">

                    <div class="publish-date">
                      <ion-icon name="time-outline"></ion-icon>

                      <time datetime="2022-01-14">Una copa pequeña de vino diaria durante las comidas es buena a partir de una cierta edad para prevenir el riesgo de problemas cardiovasculares</time>
                    </div>

                    <div class="comments">
                      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>

                      <data value="114">114</data>
                    </div>

                  </div>

                </div>

              </div>
            </li>

          </ul>

        </div>
      </section>

    </article>
  </main>





  <!-- 
    - #FOOTER
  -->

  <footer class="footer">
    <div class="container">

      <div class="footer-top">

        <div class="footer-brand">
          <a href="#" class="logo">
            <img src="{% static 'logo.svg' %}" alt="Ridex logo">
          </a>

          <p class="footer-text">
            Héritage d’Or: Elegancia en cada gota de vino
          </p>
        </div>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Compañia</p>
          </li>

          <li>
            <a href="#" class="footer-link">Sobre nosotros</a>
          </li>

          <li>
            <a href="#" class="footer-link">Categorias</a>
          </li>

          <li>
            <a href="#" class="footer-link">Nuestro Blog</a>
          </li>

          <li>
            <a href="#" class="footer-link">Contacto</a>
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Ayuda</p>
          </li>

          <li>
            <a href="#" class="footer-link">Centro de ayuda</a>
          </li>

          <li>
            <a href="#" class="footer-link">Preguntas</a>
          </li>

          <li>
            <a href="#" class="footer-link">Politica de privacidad</a>
          </li>

          <li>
            <a href="#" class="footer-link">Términos y Condiciones</a>
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Otras surcursales</p>
          </li>

          <li>
            <a href="#" class="footer-link">JLBYR</a>
          </li>

          <li>
            <a href="#" class="footer-link">Yanahuara</a>
          </li>

          <li>
            <a href="#" class="footer-link">Cayma</a>
          </li>

         

        </ul>

      </div>

      <div class="footer-bottom">

        <ul class="social-list">

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-skype"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="mail-outline"></ion-icon>
            </a>
          </li>

        </ul>

        <p class="copyright">
          &copy; 2023 <a href="#">Copyright AAA</a>. All Rights Reserved
        </p>

      </div>

    </div>
  </footer>





  <!-- 
    - custom js link
  -->
  <script src="./assets/js/script.js"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>