
{% load static %}

<!-- myapp/templates/myapp/home.html -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Compra</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="background-image">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <h1 class="title">Sistema de Compra</h1>
            </div>
            <div class="col-md-6">
                <div class="text-right login-btn">
                    <a href="{% url 'login' %}" class="btn btn-primary">Iniciar sesión</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
